{% extends 'base.html' %}
{% block contents %}
<h1>Write Signup</h1>

<form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <p>이름: <input type="text" name="name"></p>
    <p>나이: <input type="number" name="age"></p>
    <p>이메일: <input type="email" name="email"></p>
    자기소개: <textarea name="introduce" cols="30" rows="10"></textarea>
    이미지: <input type="file" id="real-input" class="image_inputType_file" accept="img/*" required multiple>
    <button class="browse-btn">사진업로드</botton>
    <button type="submit">Submit</button>
</form>
{% endblock %}